<div id="phantasos-container" class="row">
    <p>Unknown media type, cannot display directly in the browser.  <a href="{{ url('MesdPhantasosClient_getMedia',
       {
           'mediaFileId': info.getOriginal().getMediaFileId(),
           'fileName': info.getOriginal().getName()
       }) }}">DOWNLOAD</p>
</div>
